:root {
  --color-red: #d73533;
  --color-red-special: linear-gradient(to bottom, #C62C2C, #990000);
  --color-red-special-reverse: linear-gradient(to top, #C62C2C, #990000);
  --color-white: #fafafa;
  --color-black: #000;
}